.container {
  width: 100%;
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  text-align: left;
}

.container h2 {
  padding-top: 3em;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  color: #00003c;
}

.calendarBox {
  width: 100%;
  max-width: 100%;
  max-height: 80%;
  margin: 0 auto;
  text-align: center;
}

.dateBox {
  width: 100%;
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  text-align: center;
}

.sameSizeDateBox {
  height: 20ch;
  min-height: 20ch;
  width: 20ch;
  min-width: 20ch;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: center;
  margin-bottom: 1ch;
}

@media (max-width: 767px) {
  .calendarBox {
    max-width: 100%;
  }

  .calendarBox {
    max-width: 100%;
  }
}

.newEvent {
  padding-top: 2em;
  padding-bottom: 10em;
}

.newEvent p {
  padding-top: 2em;
}
